<?xml version="1.0" encoding="utf-8"?>

<!-- 独立运行时用该AndroidManifest.xml 文件-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xzb.share">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/sharelib_app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/sharelib_AppTheme"
        android:name=".ShareApp"
        >
        <activity android:name=".ShareMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>